
# Ignore library files
*.a
*.jar

*.so
*.so.*

# Ignore include files


# Temporary IDE files
.cache/
.idea/
.vscode/
.vs/
CMakeSettings.json

# Build folders
build/
cmake-build*/
out/

# OS files
.DS_Store
